{
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "printWidth": 93,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "printWidth": 93,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 93,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 93,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always"
      }
    }
  ]
}
